#api1 {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    color: white;
}
script {
    color: white;
    font-style: white;
}
h1 {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    color: white;
}

