   body {

    background-image: url("img/sun-pattern.jpg");
    position:relative;
    padding-bottom: 30px;
    min-height: 100vh ;
    
    }

    footer {

    background-color: #CA6510;
    padding: 15px;

    }


    .footer  {
        font-size: 30px;
        position:absolute;
        bottom:0;
        width: 100%;
    }

    .carousel-caption {

    background-color: rgb(202, 101, 16, 0.7);
    border-radius: 1rem;

    }

    #carrusel {

    margin: 30px auto 30px;
    
    }

    #tx_pass{
        border: 5px solid sienna ;

    }
    #tx_name{
        border: 5px solid sienna;
    }
    


